body{
  font-family: system-ui;
  background: cyan;
  color: orange;
  text-align: center;
  border: 5px solid black;
}
body{
  background-color: cyan;
}
li,p{
  color: orange;
  font-size: 50px;
  background: salmon;
}
  ul{
    text-align: center;
    list-style: inside;
    list-style-type:square;
 }
table, tr, td{
  border: 3px solid black;
  color: red;
  padding: 10px;
 }
th{
  color: red;
}
td{
  color: blue;
}
tr:hover {
  background-color: salmon;
}
#new{
  list-style-type: none;
  width: 100%;
  overflow: hidden;
  position: fixed;
  background-color: pink;
}
li a {
  display: block;
  float: left;
  padding: 10px 100px;
  color: purple;
}
li a:hover{
  background-color: yellow;
}
h2 {
  text-align: center;
  color: cyan;
  
}
body{
  background-color: orange;
}
img{
  width: 650px;
  border-radius: 1000px;
  
